services:
  - type: web
    name: ledenibreg
    env: python
    plan: free
    buildCommand: "./build.sh"
    # startCommand: "gunicorn backend.ledenibreg.wsgi:application --chdir backend"
    # startCommand: "cd Django/backend && gunicorn ledenibreg.wsgi:application"
    # startCommand: "cd Django/backend && gunicorn ledenibreg.wsgi:application --bind 0.0.0.0:$PORT"
    startCommand: "gunicorn Django.backend.ledenibreg.wsgi:application --bind 0.0.0.0:$PORT"

    envVars:
      - key: DEBUG
        value: "False"
      - key: DJANGO_SETTINGS_MODULE
        value: "ledenibreg.settings.production"
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
    # Другие переменные окружения - через панель Render, в т.ч.:
    #        DATABASE_URL,
    #        OPENCAGE_API_KEY и т.д.

  - type: pgsql
    name: ledenibreg-db
    plan: free
    ipAllowList: []  # только сервисы Render
