# Django/backend/render.yaml
services:
  - type: web
    name: ledenibreg
    env: python
    plan: free
    buildCommand: "./build.sh"
    # startCommand: "gunicorn ledenibreg.wsgi:application --bind 0.0.0.0:$PORT --timeout 120 --workers 2"
    startCommand: "gunicorn ledenibreg.wsgi:application --bind 0.0.0.0:$PORT --timeout 120 --workers 2 --preload"
    envVars:
      - key: DEBUG
        value: "False"
      - key: DJANGO_SETTINGS_MODULE
        value: "ledenibreg.settings.production"
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 2
      - key: PYTHONUNBUFFERED
        value: "True"
    # Другие переменные окружения - через панель Render, в т.ч.:
    #        DATABASE_URL,
    #        OPENCAGE_API_KEY и т.д.

  - type: pgsql
    name: ledenibreg-db
    plan: free
    ipAllowList: []  # только сервисы Render

databases:
  - name: ledenibreg-db
    plan: free
