{% comment %} Django/backend/templates/water_background.html {% endcomment %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/water-bg.css' %}">

<<div class="water-bg-wrap section-hero" role="region" aria-label="Hero background">
    <div class="water-bg" aria-hidden="true">
        <img src="{% static background_svg|default:'images/waves.svg' %}"
            alt=""
            class="water-svg"
        >
    </div>

    <!-- сюда будет подставляться контент -->
    {% block hero_content %}{% endblock %}

    <div class="water-bg-shadow" aria-hidden="true"></div>
</div>
