{% load static %}
<footer class="footer">
    <div class="footer-content">
        <div class="footer-social">
            <h3>{% if current_language == 'ru' %}Свяжитесь с нами{% else %}Kontaktirajte nas{% endif %}:</h3>
            <div class="social-icons">
                <a href="viber://chat?number=+381677898477" class="social-link viber">
                    <span>Viber</span>
                </a>
                <a href="https://wa.me/381677898477" class="social-link whatsapp">
                    <span>WhatsApp</span>
                </a>
                <a href="https://t.me/ledenibreg" class="social-link telegram">
                    <span>Telegram</span>
                </a>
            </div>
        </div>

        {% comment %} <div class="footer-info">
            <p>&copy; 2025 Vendime d.o.o. </p>
        </div> {% endcomment %}
        <!-- ✅ Атрибуция OpenStreetMap и OpenCage Data -->
        <div class="footer-attribution">
            © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap contributors</a> |
            © <a href="https://opencagedata.com">OpenCage Data</a>
        </div>

        <div class="footer-copyright">
            &copy; {{ now|date:"Y" }} 2025 Vendime d.o.o.
        </div>
    </div>
</footer>
